<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>Money</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/img/male-avatar-400.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome</span>
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Admin <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/admin">Admin Console</a></li>
            <li><a href="/admin/auth/group">Groups</a></li>
            <li><a href="/admin/auth/user">Users</a></li>
            <li><a>Data Entry<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/admin/money/bankaccount">Bank Accounts</a></li>
                <li class="sub_menu"><a href="/admin/money/creditaccount">Credit Accounts</a></li>
                <li class="sub_menu"><a href="/admin/money/category">Categories</a></li>
                <li class="sub_menu"><a href="/admin/money/stmtbalance">Statements Balance</a></li>
                <li class="sub_menu"><a href="/admin/money/stmtdetail">Statements Detail</a></li>
                <li class="sub_menu"><a href="/admin/money/incomestmt">Income Statements</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Reports <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% now "Y" as current_year %}
            <li><a href="{% url 'report_annual_summary' current_year 'purchased' %}">Annual Summary (Purchased)</a></li>
            <li><a href="{% url 'report_annual_summary' current_year 'billed' %}">Annual Summary (Billed)</a></li>
            <li><a href="{% url 'report_annual_summary' current_year 'due' %}">Annual Summary (Due)</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Extra</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="e_commerce.html">E-commerce</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="project_detail.html">Project Detail</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>